/*
Positioning (static, relative, absolute and fixed)
*/

body {
	background: #007cf7;
}

p {
	width: 300px;
}

#container {
	background: white;
	width: 800px;
	margin: 10px auto;
	padding: 10px;
	position: relative;
}

.static {
	border: 1px solid red;
	background: #c3c3c3;
	position: static;
	top: 5px;
	left: 60px;
}

.relative {
	/* changes the positioning from the standard positioning of the elements */
	border: 1px solid red;
	background: #c3c3c3;
	position: relative;
	/* top, right, bottom, left */
	top: 5px;
	left: 40px;
}

.absolute {
	/* By default, the container has static placement, so the element will position according to the body of the page. if the container has its positioning defined as for example in relative, the element changes the positioning from the positioning of the container */
	border: 1px solid red;
	background: #c3c3c3;
	position: absolute;
	top: 0px;
	right: 20px;
}

.fixed {
	/* The placement remains fixed on the browser screen even if you move the scroll bar. Fixed is used to menus, chats.*/
	border: 1px solid red;
	background: #c3c3c3;
	position: fixed;
	top: 0px;
	right: 20px;
}